body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8dc;
  padding: 10px;
  box-sizing: border-box;
}

section, nav, header {
  max-width: 100%;
  width: 100%;
}

.btn, nav button {
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  box-sizing: border-box;
}
html {
  touch-action: manipulation;
  scroll-behavior: smooth;
}
